body {
  margin: 0;
}

:root {
  --wrapper-width: 1148px;
  --text-dark: #391400;
  --text-dark-accent: #EF6D58;
  --text-dark-gray: rgba(57, 20, 0, 0.64);
  --text-light-accent: #EF6D58;
  --text-light-gray: rgba(255, 255, 255, 0.64);
}

/*text styles*/
.white-h1 {
  font-family: Epilogue, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  /* or 111% */
  letter-spacing: -2px;
  /* Text_Light */
  color: #FFFFFF;
}

.black-h1 {
  font-family: Epilogue, sans-serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: left;
  color: var(--text-dark);
}

.white-h2 {
  font-family: Epilogue, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  /* or 114% */
  letter-spacing: -1px;
  /* Text_Light */
  color: #FFFFFF;
}

.black-h2 {
  font-family: Epilogue, sans-serif;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: center;
  color: #391400;
}

.white-h3 {
  font-family: Epilogue, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
}

.black-h3 {
  font-family: Epilogue, sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0;
  text-align: left;
  color: #391400;
  margin-top: 17px;
  margin-bottom: 28px;
}

.white-h4 {
  font-family: Epilogue, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  /* Text_Light */
  color: #FFFFFF;
}

.black-h4 {
  font-family: Epilogue, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
}

.orange-h5 {
  font-family: Epilogue, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */
  letter-spacing: 3px;
  text-transform: uppercase;
  /* Text_Light_Accent */
  color: #EF6D58;
}

.text-small {
  font-family: Epilogue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  opacity: 64%;
}

.light-text {
  font-family: Epilogue, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
}

.text-big {
  font-family: Epilogue, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
}

.text-big-black {
  font-family: Epilogue, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
}

.text-dark-grey {
  font-family: Epilogue, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
  opacity: 64%;
}

.text-dark {
  font-family: Epilogue, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #391400;
}

/*text styles*/
.dark-background {
  background-color: #28293E;
  padding: 0 130px;
}

.light-background {
  background: #fdf0e9;
  padding: 0 135px;
}

@media (max-width: 985px) {
  .dark-background {
    padding: 0 23px;
  }

  .light-background {
    padding: 0 23px;
  }
}
/*header*/
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 16px;
}

.links {
  align-self: center;
  display: flex;
  justify-content: space-around;
  width: 515px;
  height: 32px;
  left: 463px;
  top: 28px;
  font-family: Epilogue, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */
  text-align: center;
  /* Text_Light */
  color: #FFFFFF;
}

@media (max-width: 985px) {
  .links {
    display: none;
  }

  #contact-button {
    display: none;
  }
}
.links a {
  color: #FFFFFF;
  text-decoration: none;
}

#contact-button {
  color: #FFFFFF;
  background-color: #28293E;
  align-self: center;
  justify-self: flex-end;
  font-family: Epilogue, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  width: 138px;
  height: 38px;
  left: 1167px;
  border: 1px solid rgba(255, 255, 255, 0.295743);
  box-sizing: border-box;
  border-radius: 6px;
}

/*header*/
/*first section*/
.first-section {
  display: flex;
  margin-top: 110px;
  border-bottom: 1px solid #3A3C56;
  justify-content: space-between;
}

#right-column img {
  width: 570px;
  height: 603px;
}

.solid-button {
  background: #EF6D58;
  border-width: 0;
  border-radius: 6px;
  width: 154px;
  height: 48px;
  font-family: Epilogue, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.link-btn {
  font-family: Epilogue, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin-left: 43px;
}

/*first section*/
/*second section*/
.second-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 112px;
}

.second-section h2 {
  margin-top: 6px;
  margin-bottom: 28px;
}

.second-section .left-col {
  display: flex;
  flex-direction: column;
}

#read-more {
  margin-left: 0;
}

.second-section .right-col {
  display: flex;
  align-items: flex-end;
}

.white-bg-card {
  padding: 48px 48px 0px;
  width: 288px;
  height: 286px;
  background: #FFFFFF;
  box-shadow: 0px 32px 64px rgba(0, 2, 43, 0.0414968);
  border: 1px solid #F3D1BF;
}

.card-radius-left {
  border-radius: 6px 0px 0px 6px;
}

.card-radius-right {
  border-radius: 0px 6px 6px 0px;
}

.white-bg-card p {
  margin-bottom: 26px;
}

.white-bg-card h4 {
  margin-bottom: 19px;
}

.border-card {
  border: 1px solid #3A3C56;
  box-sizing: border-box;
  height: 272px;
  padding: 105px 48px 48px 48px;
}

.border-card h4 {
  margin: 0;
}

/*thirds section*/
.third-section {
  display: flex;
  margin-top: 195px;
}

.third-section img {
  margin-right: 134px;
}

.third-section .solid-button {
  background-color: #B550F8;
  width: 170px;
}

/*fourth section*/
.fourth-section {
  margin-top: 142px;
}

.cards {
  display: flex;
  top: 125px;
  position: relative;
}

.cards .white-bg-card {
  width: 391px;
  height: 400px;
}

/*CREAM-BG*/
/*fifth section*/
.fifth-section {
  padding-bottom: 200px;
}

.video-container {
  padding-top: 250px;
  display: flex;
  justify-content: space-between;
}

.achievements {
  display: flex;
  justify-content: center;
  margin-top: 135px;
}

.hollow-card {
  border: 1px solid #3A3C56;
  width: 391px;
  height: 176px;
  padding-left: 45px;
}

.work-title {
  margin-top: 118px;
}

.hollow-card h3 {
  margin: 48px 0 13px 0px;
}

.work-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #F3D1BF;
}

.info-line {
  display: flex;
  align-items: center;
}

.info-line h1 {
  margin-right: 66px;
}

.portfolio-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-header .black-h2 {
  margin-top: -6px;
}

.portfolio-links {
  display: flex;
  justify-content: space-between;
  width: 550px;
}

.upper-text {
  position: relative;
  bottom: 5px;
  left: 1px;
}

.tiles {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 100px;
}
.tiles .tile {
  width: 370px;
  height: 416px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.tiles .tile p {
  background: #FFFFFF;
  border-radius: 19px;
  width: fit-content;
  padding: 7px 14px;
  margin-left: 48px;
}
.tiles .tile h3 {
  margin: 23px 0 51px 48px;
}
.tiles .top-row {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.tiles .top-row div:nth-child(1) {
  background-image: url("../images/tiles/1.png");
}
.tiles .top-row div:nth-child(2) {
  background-image: url("../images/tiles/2.png");
  margin: 0 32px;
}
.tiles .top-row div:nth-child(3) {
  background-image: url("../images/tiles/3.png");
}
.tiles .bottom-row {
  display: flex;
  justify-content: center;
}
.tiles .bottom-row div:nth-child(1) {
  background-image: url("../images/tiles/4.png");
}
.tiles .bottom-row div:nth-child(2) {
  background-image: url("../images/tiles/5.png");
  margin: 0 32px;
}
.tiles .bottom-row div:nth-child(3) {
  background-image: url("../images/tiles/6.png");
}
.tiles .dark-button {
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 6px;
  background: transparent;
  margin: 64px auto 0;
}

.move-faster .star-img {
  width: 148px;
  position: relative;
  top: 74px;
  left: 86px;
}
.move-faster .box {
  background: #FDF0E9;
  border-radius: 6px;
  height: 336px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.move-faster p {
  color: #391400A3;
}
.move-faster .column-1 {
  margin-left: 100px;
}
.move-faster .column-3 {
  margin-right: 20px;
}

.about-me {
  margin-top: 228px;
}
.about-me .container {
  display: flex;
  justify-content: space-between;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  position: relative;
  top: 270px;
}
.testimonials h2 {
  text-align: center;
}
.testimonials .reviews {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  max-height: 766px;
  width: 1172px;
}
.testimonials .reviews .review-card {
  width: 490px;
  height: 240px;
  flex: auto;
  padding: 48px;
  background: #FFFFFF;
  border: 0.5px solid #F3D1BF;
}
.testimonials .reviews .review-card .stars {
  margin-bottom: 20px;
}
.testimonials .reviews .review-card .person {
  display: flex;
  margin-top: 36px;
}
.testimonials .reviews .review-card .person p {
  margin: 0;
}
.testimonials .reviews .review-card .person h4 {
  margin: 0;
}
.testimonials .reviews .review-card .person img {
  margin-right: 24px;
}
.testimonials .reviews .first {
  height: 304px;
  border-radius: 6px 0 0 0;
}
.testimonials .reviews .second {
  border-radius: 0px 0px 6px 6px;
}
.testimonials .reviews .third {
  border-radius: 0px 6px 0px 0px;
}
.testimonials .reviews .fourth {
  border-radius: 0px 0px 6px 0px;
}
.testimonials button {
  background: #FFFFFF;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  color: #391400;
  margin-top: 65px;
}

.pricing {
  padding-top: 400px;
}
.pricing .orange-h5 {
  margin: 0;
}
.pricing .black-h2 {
  text-align: left;
  margin-top: 20px;
}
.pricing .pricing-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
}
.pricing .pricing-cards .pricing-card {
  width: 295px;
  height: 416px;
  background: #fdf0e9;
  border: 1px solid #F3D1BF;
  padding: 48px;
}
.pricing .pricing-cards .pricing-card button {
  background: #FFFFFF;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  color: #391400;
}
.pricing .pricing-cards .first-card {
  border-right: transparent;
}
.pricing .pricing-cards .third-card {
  border-radius: 0px 6px 6px 0px;
  border-left: transparent;
}
.pricing .pricing-cards .pricing-white-card {
  width: 295px;
  height: 480px;
  padding: 32px 48px 48px 48px;
  background: #FFFFFF;
  border: 1px solid #F3D1BF;
  box-shadow: 0px 32px 64px rgba(57, 20, 0, 0.04);
  border-radius: 6px 6px 0px 0px;
}
.pricing .pricing-cards .pricing-white-card .tag {
  background: #EF6D58;
  border-radius: 19px;
  font-family: "Epilogue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  height: 33px;
  width: 92px;
  text-align: center;
  padding-top: 3px;
  margin-bottom: 22px;
}
.pricing .pricing-cards img {
  margin-right: 16px;
}
.pricing .pricing-cards button {
  position: relative;
  bottom: -35px;
}
.pricing .pricing-cards p {
  margin: 5px 0;
}
.pricing .pricing-cards .card-row {
  display: flex;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
.faq .faq-container {
  display: flex;
}
.faq .faq-container .row {
  display: flex;
  justify-content: space-between;
  margin: 10px 34px 0 48px;
}
.faq .faq-container .row-closed {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #F3D1BF;
  padding: 0 34px 0 40px;
}
.faq .faq-container .row-closed h4 {
  margin: 40px 0;
}
.faq .faq-container .left {
  width: 570px;
  position: relative;
  top: -63px;
}
.faq .faq-container .right {
  border: 1px solid #F3D1BF;
  box-shadow: 0 32px 64px rgba(57, 20, 0, 0.04);
  border-radius: 6px;
  width: 570px;
}
.faq .faq-container .right .white-card {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #F3D1BF;
}
.faq .faq-container .right .white-card p {
  margin: 35px 50px 44px 50px;
}
.faq .logos {
  margin-top: 136px;
  border-bottom: 1px solid #F3D1BF;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.awards {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.awards .row {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  border-top: 1px solid #F3D1BF;
  padding-top: 15px;
  margin-top: 16px;
}
.awards .row .cell {
  display: flex;
  align-items: center;
  width: 40%;
}
.awards .row .cell p {
  margin: 0 24px;
}
.awards .row :nth-child(3) {
  justify-content: flex-end;
}
.awards .more {
  display: flex;
  padding-top: 59px;
  border-top: 1px solid #F3D1BF;
  width: 1170px;
  margin-top: 16px;
  justify-content: center;
}
.awards .more p {
  margin: 0 4px;
}

.blog {
  position: relative;
  top: 328px;
  margin-top: -200px;
}
.blog .solid-button {
  background-color: white;
  color: #391400;
}
.blog h2 {
  margin: 0;
}
.blog h4 {
  margin: 15px 0;
}
.blog p {
  margin: 0;
}
.blog .head {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.blog .blog-cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 64px;
}
.blog .blog-cards .card {
  display: flex;
  flex-direction: column;
  width: 370px;
}
.blog .blog-cards .card img {
  margin-bottom: 24px;
}

.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid #3A3C56;
  border-bottom: 1px solid #3A3C56;
  height: 170px;
}
.newsletter h3 {
  margin: 0;
}
.newsletter .email {
  display: flex;
}
.newsletter .email input {
  all: unset;
  height: 48px;
  width: 370px;
  background: #FFFFFF;
  border-radius: 6px;
}
.newsletter .email input[type=text] {
  padding-left: 16px;
  color: var(--text-dark-gray);
}
.newsletter .email .solid-button {
  background-color: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.295743);
  margin-left: 30px;
}

.contact-me {
  margin-top: 143px;
}
.contact-me h4 {
  margin: 0 0 23px;
}
.contact-me .container {
  display: flex;
  justify-content: space-between;
}
.contact-me .container .left {
  display: flex;
  flex-direction: column;
  width: 474px;
  height: 391px;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 57px 48px 48px 48px;
}
.contact-me .container .left input[type=text] {
  padding-left: 16px;
  color: var(--text-dark-gray);
}
.contact-me .container .left :nth-child(2) {
  padding: 0;
  width: 456px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #F3D1BF;
  border-radius: 6px;
}
.contact-me .container .left :nth-child(3) select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  margin-bottom: 16px;
  width: 474px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #F3D1BF;
  border-radius: 6px;
  padding-left: 16px;
  color: var(--text-dark-gray);
}
.contact-me .container .left img {
  position: relative;
  top: 32px;
  left: 438px;
}
.contact-me .container .left :nth-child(4) {
  margin-bottom: 16px;
  padding: 0;
  width: 456px;
  height: 128px;
  background: #FFFFFF;
  border: 1px solid #F3D1BF;
  border-radius: 6px;
}
.contact-me .container .left :nth-child(4)::placeholder {
  position: relative;
  bottom: 40px;
}
.contact-me .container .left .solid-button {
  align-self: end;
}
.contact-me .container .right h2 {
  margin: 20px 0 28px 0;
}
.contact-me .container .right p {
  margin-bottom: 30px;
}
.contact-me .container .right .row {
  display: flex;
  align-items: center;
  height: 48px;
  margin-bottom: 16px;
}
.contact-me .container .right .row img {
  margin-right: 16px;
}
.contact-me .help {
  background-color: #EF6D58;
  padding-top: 41px;
  height: 503px;
  width: 1170px;
  margin: 0 auto;
  position: relative;
  top: 128px;
  border-radius: 6px;
}
.contact-me .help .solid-button {
  background-color: white;
  color: #391400;
  margin-top: 34px;
}
.contact-me .help .container {
  padding: 0 100px;
}

.footer {
  padding-top: 243px;
  padding-bottom: 80px;
}
.footer h4 {
  margin: 0;
}
.footer h5 {
  margin: 0;
}
.footer img {
  width: 48px;
}
.footer p {
  margin: 10px 0;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #F3D1BF;
  padding-bottom: 68px;
}
.footer .underline {
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
}
.footer .underline div {
  display: flex;
  width: 275px;
  justify-content: space-between;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
